# Node
node_modules/
dist/
dist-ssr/
.local

# Tauri / Rust
src-tauri/target/
src-tauri/gen/schemas/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

# Database
*.db
*.sqlite
.sqlite3

# Environment Variables
.env
.env.
src-tauri/.env
